<% content_for :sidebar do %>
	<%= yield :sidebar %>
<% end %>

<p>&nbsp;</p>

<%= make_avatar_url("medium", @user.id, @user.avatar_file_name) %>

<h2><%= @user.name %></h2>

<p>Email: <%= @user.email %></p>

<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Delete", @user, :method => :delete, :confirm => "Are you sure you want to delete this user?" %>

<% content_for :sidebar do %>
	<%= link_to "Project Home", root_path, :class => "button" %>
	<%= link_to "Add a user", new_user_path, :class => "button" %>
	<%= link_to "View all users", users_path, :class => "button" %>
<% end %>