<%= form_for(@project) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :user_tokens, "Users" %>
    <%= f.text_field :user_tokens, data: {load: @project.users} %>
  </p>
  <%= f.submit %>
<% end %>