<!DOCTYPE html>
<html>
<head>
  <title>UberToken</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="sidebar">
			<div class="account">
				<%= link_to "", root_path, :class => "home_link" %></h4>
			</div>
			<%= yield :sidebar %>
		</div><!--sidebar-->

		<div id="page">

			<% flash.each do |key, value| %>
				<div class='flash' id='<%= key %>'>
					<%= value %>
				</div>
			<% end %>

			<%= yield %>
		</div><!--page-->
	</div><!--container-->
</body>
</html>
